/Test/Data/12-2024.sqlite
/Server/Dashboard/wassermonitor-dash/node_modules/
.idea/
/Test/Server/Data/12-2024.sqlite
/Test/Server/Data/01-2025.sqlite
/Server/Dashboard/wassermonitor-dash/package-lock.json
/Pi/.psk
/Doc/.psk
/Doc/build/
/Pi/calib/calib_date_sensor_3.csv
/Pi/calib/calib_date_sensor_13.csv
/Test/Server/Data/add_timezone_to_naive.py
/Server/Warningbot/*.warn
/Server/Warningbot/*.alarm
/Server/Warningbot/*.dec
/Server/Warningbot/telegram/creds.json
