[Unit]
Description=Wasserwarnung Bot
After=syslog.target

[Service]
Type=simple
User=<user>
Group=<user>
Environment="PATH=home/{{ user }}/.local.bin:/usr/local/bin:/usr/bin:/bin:"
WorkingDirectory=/
ExecStart=/etc/wasserwarnung/wasserwarnung.py
SyslogIdentifier=wasserwarnung
StandardOutput=syslog
StandardError=syslog
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
