{
    "smtp_server": "<add your mailserver host>",
    "smtp_port": "<add your mailserver port>",
    "sender_email": "<add your email>",
    "sender_password": "<add your smtp password>",
    "recipients": [
        "recipient1@example.com",
        "recipient2@example.com"
    ],
}